/*购物清单*/
.box-title{
 background: #dddddd;
 padding:0 20px;
 height: 30px;
 line-height: 30px;
 border-bottom: 1px solid #ccc;
 display: flex;
 flex-flow: row;
 flex:10;
}
.box-title span{
 font-size: 12px;
 display: flex;
 font-weight: bold;
}
.ch_info{
  flex:5;
}
.ch_amount{
 flex:1;
 justify-content: center;
 text-align: center;
}
.ch_money{
 flex:1;
 text-align: center;
 justify-content: center;
}
.ch_price{
 flex:1.5;
 text-align: center;
 justify-content: center;
}
.ch_opt{
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}
.box-table{
 background: #fff;
 padding:20px;
 overflow: hidden;
 display: flex;
 align-items: center;
 justify-content: center;
}
.table_info div{
 display: inline-block;
 vertical-align: middle;
}
.wrap_img{
 border: 1px solid #ddd;
 width:80px;
 height: 80px;
 overflow: hidden;
}
.wrap_img img{
 width:100%;
 height: 100%;
}
